{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/cadastro_centro_custo.css' %}">
{% endblock head %}

{% block body %}
<!-- Botão voltar -->
{% block button_voltar %}
{% include 'components/_btn_voltar.html' %}
{% endblock %}

<div class="page-wrapper">

    <!-- FORMULÁRIO -->
    <div class="card form-card">
        <h2>Cadastrar Centro de Custo</h2>
        <form action="{% url 'cadastrar_centro_custo' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="centro_id" id="centro_id">

            <div class="form-group">
                <label>Código do Centro de Custo</label>
                {{ form.cod_centro }}
            </div>

            <div class="form-group">
                <label>Descrição do Centro de Custo</label>
                {{ form.descricao }}
            </div>

            <div class="form-group">
                <label>Centro Pai (opcional)</label>
                {{ form.centro_pai }}
            </div>

            <button type="submit" class="btn-primary" id="submitBtn">Cadastrar</button>
            <button type="button" class="btn-secondary" id="btnCancelar">Cancelar</button>
            <button type="button" class="btn-secondary" id="btnCancelar">Ex</button>
            
        </form>
    </div>

    <!-- ÁRVORE DE CENTROS -->
    <div class="card tree-card">
        <h2>Centros de Custo</h2>
        <div class="tree-scroll">
            {% for item in hierarquia %}
            <ul class="tree">
                <li>
                    {% if item.filhos %}
                    <span class="tree-toggle">
                        
                        <span class="editable" data-id="{{ item.centro.id }}" data-cod="{{ item.centro.cod_centro }}"
                            data-descricao="{{ item.centro.descricao }}">
                            {{ item.centro.descricao }} - {{ item.centro.cod_centro }}
                        </span>
                    </span>
                    <ul class="nested" style="display:none;">
                        {% include 'cadastro_centro_custo/subcentros.html' with subcentros=item.filhos %}
                    </ul>
                    {% else %}
                    <span class="editable" data-id="{{ item.centro.id }}" data-cod="{{ item.centro.cod_centro }}"
                        data-descricao="{{ item.centro.descricao }}">
                        {{ item.centro.descricao }} - {{ item.centro.cod_centro }}
                    </span>
                    {% endif %}
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>

</div>

<script src="{% static 'js/alternar_arvore_centro_custo.js' %}"></script>
{% endblock %}