<ul>
    {% for sub in subcentros %}
    <li>
        {% if sub.filhos %}
        <span class="tree-toggle">
            <span class="editable" data-id="{{ sub.centro.id }}" data-cod="{{ sub.centro.cod_centro }}" c
                data-descricao="{{ sub.centro.descricao }}">
                {{ sub.centro.descricao }} - {{ sub.centro.cod_centro }}
            </span>
        </span>
        <ul class="nested" style="display:none;">
            {% include 'cadastro_centro_custo/subcentros.html' with subcentros=sub.filhos %}
        </ul>
        {% else %}
        <span class="editable" data-id="{{ sub.centro.id }}" data-cod="{{ sub.centro.cod_centro }}"
            data-pai="{% if sub.centro.centro_pai_id %}{{sub.centro.centro_pai_id}}{% endif %}"
            data-descricao="{{ sub.centro.descricao }}">
            {{ sub.centro.descricao }} - {{ sub.centro.cod_centro }}
        </span>
        {% endif %}
    </li>
    {% endfor %}
</ul>