{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock head %}

{% block button_voltar %}{% endblock button_voltar %}

{% block body %}
<div class="dashboard-container">

    <div class="dashboard-topbar">
        <span class="user-chip">Olá, {{user.username}}</span>
        <a href="{% url 'logout' %}" class="logout-link">Sair</a>
    </div>
    <header>
        <h1 class="dashboard-title">Painel de Gestão</h1>
    </header>

    {% for categoria in categorias %}
    <section class="categoria-bloco">

        <h2 class="categoria-titulo">{{ categoria.nome }}</h2>

        <div class="dashboard-grid">
            {% for card in categoria.cards %}
            <a href="{% url card.url %}" class="dashboard-card {{ card.color }}">
                <h2 class="card-title">{{ card.title }}</h2>
            </a>
            {% endfor %}
        </div>

    </section>
    {% endfor %}

</div>

{% endblock body %}